<div class="panel panel-default col-sm-6 col-sm-offset-3">
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">First Name: <br><strong>{{ user.firstname }}</strong></li>
      <li class="list-group-item">Last Name: <br><strong>{{ user.lastname }}</strong></li>
      <li class="list-group-item">Email: <br><strong>{{ user.email }}</strong></li>
    </ul>
  </div>
</div>
