<div class="container text-center">
  <a href="/register"><button type="button" class="btn btn-primary btn-lg">Register</button></a>
  <a href="/login"><button type="button" class="btn btn-primary btn-lg">Login</button></a>
</div>